<div class="app-container">
  <header class="app-header">
    <h1 class="app-title">{{ title }}</h1>
    <button class="btn btn-primary" (click)="openCreateForm()">
      <i class="fas fa-user-plus"></i> Create New User
    </button>
  </header>

  <main class="app-content">
    <app-user-form 
      *ngIf="showForm" 
      [userId]="selectedUserId" 
      (userSaved)="onUserSaved()">
    </app-user-form>
    
    <app-user-list></app-user-list>
    
    <div class="router-outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>